<div class="mx-auto my-10 max-w-prose">
  <%= link_to "‹ Back", host_home_path, class: "link text-gray-700" %>
  <h1 class="font-bold text-5xl text-indigo-600 mt-3">Edit profile</h1>

  <%= render "form", host: @host %>
</div>
