<div class="mx-auto my-10 max-w-prose">
  <h1 class="font-bold text-5xl text-indigo-600 mt-3">Start hosting</h1>

  <p class="mt-6 mb-10 text-lg">Register an account below to get started hosting heat pump visits. Once you're registered we'll guide you though setting up and running visits, as well as connecting you to interested visitors in your area.</p>

  <%= render "form", host: @host %>
</div>
