<div class="mx-auto my-10 max-w-prose">
  <div class="bg-gray-200 p-6 mb-10">
    <h1>Hi <%= current_user.first_name %>, welcome to our community!</h1>
    <p class="mb-2">To get hosting please add details about your heat pump and property below.</p>

    <ul class="list-disc">
      <li class="ml-6 mb-2">This information will be used to create a public property profile.</li>
      <li class="ml-6">Your address will remain private and only be shared with visitors who book to visit one of your events.</li>
    </ul>
  </div>

  <%= render "form", host: @host %>
</div>
