<div class="mx-auto my-10 max-w-prose">
  <%= link_to "‹ Back", @host, class: "link text-gray-700" %>
  <h1 class="font-bold text-5xl text-indigo-600 mt-3">New booking</h1>
  <%= render "form", host: @host, event: @event, booking: @booking %>
</div>
